---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        Maciek Grzybek
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-5">
      I’m a software engineer with ❤️ for TypeScript, React and Node. I write
      code, I write about code, I think in code and sometimes I even dream in
      code. That sums me up pretty well. Also, big Rick and Morty fan and
      previous ex sushi chef 🍣 . Check out some stuff that I wrote.
    </p>
  </div>
</section>
